body {
    font-size: 16px; /* Set a base font size for mobile devices */
}

header {
    padding: 15px 0; /* Reduce padding for mobile devices */
}

nav a {
    display: block; /* Stack navigation links vertically */
    margin: 10px 0; /* Add margin for touch targets */
}

main {
    width: 95%; 
}

section {
    padding: 15px;

}

input, 
textarea {
    width: 90%; /* Make input and textarea elements full width on mobile */
}
